[Unit]
Description=rclone maps from google drive to spads maps location
After=network.target

[Service]
User={{ spads_username }}
Type=oneshot
ExecStart=/usr/bin/rclone sync --drive-shared-with-me BYAR-maps:BYAR-maps {{ spads_install_path }}/var/spring/data/maps
StandardOutput=journal
Nice=15

