SPADS_LOBBY_LOGIN={{ spads_lobbyLogin | quote }}
SPADS_LOBBY_PASSWORD={{ spads_lobbyPassword | quote }}
SPADS_REGISTRATION_EMAIL={{ spads_lobbyPassword | quote }}
SFTP_LOGIN={{ sftp_login | quote }}
SFTP_PASSWORD={{ sftp_password | quote }}
