release:{{ autoinstaller_release }}
etcDir:{{ autoinstaller_etcDir }}
varDir:{{ autoinstaller_varDir }}
logDir:{{ autoinstaller_logDir }}
springBinariesType:{{ autoinstaller_springBinariesType }}
unitsyncPath:{{ autoinstaller_unitsyncPath }}
baseDataDir:{{ autoinstaller_baseDataDir }}
mapModDataDir:{{ autoinstaller_mapModDataDir }}
springServerType:{{ autoinstaller_springServerType }}
springServer:{{ autoinstaller_springServer }}
modName:{{ autoinstaller_modName }}
lobbyLogin:{{ autoinstaller_lobbyLogin }}
lobbyPassword:{{ autoinstaller_lobbyPassword }}
owner:{{ autoinstaller_owner }}
