[SPADS]
title=SPADS
description=Ports for the dedicated games hosted by SPADS. UPD needed by engine and TCP needed by spads.
ports={{ spads_baseGamePort }}:{{ spads_baseGamePort + (spads_maxInstances * 2) }}/tcp|{{ spads_baseGamePort }}:{{ spads_baseGamePort + (spads_maxInstances * 2) }}/udp
